html {
  scroll-behavior: smooth;
}
.header {
  font-family: "MonteCarlo", cursive;
}

.navigation-link {
  border: 2px solid transparent;
  color: #333;
}

.nav {
  padding-bottom: 2rem;
}

.navigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #e3ae53;
  transition: 0.5s ease;
  color: #e3ae53;
}

.text-black {
  color: black;
}
.nav-text {
  text-align: right;
  margin-right: 20px;
}

.contact-decoration {
  list-style: none;
}

.header-wrapper {
  background: #ffff;
  width: 100%;
  border-bottom: 1px solid #e6aec5;
  /* filter: drop-shadow(6px 6px 3px grey); */
}

.gallery {
  background: #d1a775;
}

.packages {
  text-align: center;
  border-bottom: grey;
}

#packages1 {
  /* background-color: #fce5eb; */
}

#packages2 {
  /* background-color: #f4deb8; */
}

.Contact {
  background: #fcd9e0;
  text-align: center;
  /* height: 200px; */
}

.aboutDetails {
  /* text-align: left; */
  font-size: 10pt;
  color: #333;
}

.carousel-image {
  height: 30rem;
  object-fit: cover;
}
.name {
  width: 90%;
  background-color: #444444;
  height: 20px;
}
.email {
  width: 90%;
  background-color: #444444;
  height: 20px;
  margin-top: 2%;
}
.message {
  width: 90%;

  height: 100px;
  margin-top: 2%;
  background-color: #444444;
}
input {
  background: transparent;
  border: 0px;
}
@media (max-width: 680px) {
  .aboutDetails {
    /* text-align: left; */
    font-size: 8pt;
    color: #333;
  }

  h1 {
    font-size: 1.5rem !important;
  }
}

.contacttext {
  color: black;
}
